<h1>Confirmation Page</h1>
<br>
<br>
<div *ngFor="let element of cart$"> 
    <mat-card >
      <mat-card-title>{{ element.artist }}</mat-card-title>
        <img src="../assets/images/{{ element.artist }}.jpg" alt="Test Concert" width="200" height="150">
        <mat-card-actions>
          <span>Price: {{ element.price }}</span>
          <span>Quantity: {{ element.quantity }}</span>  
        </mat-card-actions>
    </mat-card>
    <br>
</div>
<h3>Your order as been completed!</h3>
<h3>Enjoy your concert</h3>
<div>
    <span><button mat-button routerLink="/checkout">Cancel Purchase</button></span>
    <!-- Include a function to delete stock and minus money amount on customer -->
    <span><button id="confirm" mat-button routerLink="/">Confirm</button></span>
</div>
