h1{
    text-align: center;
}
h3{
    text-align: center;
}

button{
    background-color: red;
    color:White;
}

#confirm{
    background-color: green; 
    color:White
}

mat-card{
    background-color:#fedc3d;
}
  
span{
    padding: 20px;
}

div{
    text-align: center;
}
