h1{
  text-align: center;
}

mat-card{
  background-color: #fedc3d; 
}
#head{
  color:#fedc3d;
  font-size: 20px;
}
button{
  background-color: black;
  color:#fedc3d;
}

span{
  font:bold; 
  padding: 20px;
}
div{
  position: relative;
  padding-left: 300px;
  padding-right: 300px;
}
