<head>
  <h1>Concerts Page</h1>
</head>

<body>
  <h1>Concerts</h1>
  <h2>Hello {{ checkname[0].username }}, You have ${{checkname[0].funds}}!</h2>
  <div> 
    <mat-card *ngFor="let element of ticket$">
      <mat-card-title>{{ element.artist }}</mat-card-title>
        <img src="../assets/images/{{ element.artist }}.jpg" alt="Test Concert" width="200" height="150">
        <mat-card-actions>
          <span>Price: {{ element.price }}</span>
          <span>Amount: <input type=number required [(ngModel)]="amount" matInput placeholder="1"></span>
          <span>Stock: {{ element.quantity }}</span>
          <span><button mat-button (click)="addCart(element, amount)">Add to Cart</button></span>
          <span><button mat-button (click)="addTicket(element)" routerLink="/details">Details</button></span>
        </mat-card-actions>
    </mat-card>
  </div>
</body>

<!-- <h1>Products</h1>
 
<div *ngFor="let ticket of tickets$ | async" style="width: 300px;">
  <tr>
    <td>{{ticket.name}}</td>
    <td></td>
    <td></td>
  </tr>
</div> -->
