<h1>Sign In</h1>

<br/>

<mat-card class="signIn">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <form class="form">
      <table class="signIn" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="user"><b>Username</b>
            <input matInput placeholder="Username" [(ngModel)]="user" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="pass"><b>Password</b>
        <input matInput placeholder="Password" type="password" name="password" required> 
        </mat-form-field></td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="yellow">Login</button>
  </mat-card-actions>
</mat-card>
