<h3>Sign In!</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="string" class="form-control" id="username" required [(ngModel)]="user" name="name">
    </div>
 
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"  name="password">
    </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>Wrong Info! Try logging in again.</h4>
  <button class="btn btn-success" (click)="login()">Log In</button>
</div>