<form >
  <div style="text-align:right">
      <button type="Logout">Logout</button>
  </div>
  <div style="text-align:right">
      <button type="Confirm Checkout" (click)="confirmCheckout()">Confirm Checkout</button>
  </div>
</form>
<br/> <br/>
<div style="text-align:center">
  <img src="./../img/checkout3.png" alt="Checkout Logo" style="width:250px; height:100px"/>
</div>
<br/> <br/> <br/>
<table>
  <tr>
    <th>Items in Cart</th>
    <th>Amount of Items</th>
  </tr>
  <tr>
    <td><pre><img src="./img/live-concert.png" alt="Concert Logo" style="width:250px; height:100px"/>                      Artist: {{title}} <br/>                              Location: {{venue}} <br/>                              Date/Time {{date}} </pre> </td>
    <td>
      <pre>Amount of Tickets: {{ticketCount}}          Price: ${{price}}.00 </pre>
    </td>
  </tr>
  <tr>
    <td><pre><img src="./img/generic-ticket2.png" alt="Concert Logo" style="width:250px; height:100px"/>
      <ul><li *ngFor="let element of show; let i = index">{{i+1}} {{element}} /li></ul></pre></td>
    <td>
      <pre>Amount of Tickets: <ul><li>*ngFor="let ticket of tickets; let i = index" {{i+1}} {{tickets}}</li></ul></pre>
    </td>
  </tr>
  <tr>
    <td><img src="./img/live-concert.png" alt="Concert Logo" style="width:250px; height:100px"/></td>
    <td>
      amt_items;
    </td>
  </tr>
  </table>

<router-outlet></router-outlet>
