<head>
  <h1>Home Page</h1>
</head>

<body>
  <h1>Welcome to Concert Tickets!</h1>
  <div *ngIf="message ==='x'">
  <button mat-button routerLink="/signin">Sign In To Shop!</button>
</div> 
  <h2>Hello {{ user.username }}, You have ${{ user.funds}}!</h2>
  <div id="concert">
    <mat-grid-list cols="1" rowHeight="500px">
      <mat-grid-tile>
        <mat-grid-tile-header>
          <h1 id="head">Concert of the Day</h1>
        </mat-grid-tile-header>
        <img src="../assets/images/Boy Pablo.jpg" alt="Test Concert" width="650" height="400">
        <mat-grid-tile-footer>
          <h1 id="foot">
            <a routerLink="/concerts">Checkout More Concerts!</a>
          </h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</body>
