<head>
  <h1>Details Page</h1>
</head>

<body>
  <h1>Details</h1>
  <div>
    <mat-card>
        <mat-card-title>{{ ourTicket.artist }}</mat-card-title>
          <img src="../assets/images/{{ ourTicket.artist }}.jpg" alt="Concert Image" width="650" height="400">
          <span>
            <h2>Concert Info: {{ ourTicket.description }}</h2>
          </span>
          <mat-card-actions>
            <span>Price: {{ ourTicket.price }}</span>
            <span>Amount: <input size="1" matInput placeholder="{{ ourTicket.quantity }}"></span>
            <span>Stock: {{ ourTicket.quantity }}</span>
            <span><button mat-button (click)="addCart(ourTicket)">Add to Cart</button></span>
          </mat-card-actions>
      </mat-card>
  </div>

</body>
