button{
  color: #fedc3d;
  font-size: 30px;
  padding: 15px 32px;
}

img{
  position:absolute;
  left:10px;
  top:0px;
}


mat-toolbar{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
