<head>
    <h1>Home Page</h1>
</head>
<h1>Checkout</h1>

<form >

</form>
<br/> <br/>
<div style="text-align:center">
  <img src="./../img/checkout3.png" alt="Checkout Logo" style="width:250px; height:100px"/>
</div>
<br/> <br/> <br/>
<table>

    <th colspan="3">Items in Cart</th>
    <th colspan="2">Amount of Items</th>

  <tr *ngFor= "let element of tick$">
    <td><img src="./img/generic-ticket2.png" alt="Concert Logo" style="width:250px; height:100px"/>
       {{ element.artist }}</td>

      <td> {{ element.venue }} </td>
      <td>{{ element.date }}</td>

      <td>Amount of Tickets: <input size="1" matInput placeholder="{{element.quantity}}"> <br/> Price for each: {{element.price}}
</td>
  </tr>
  </table>
  <div id="button2">
    <span><button mat-button routerLink="/confirmation">Confirm Purchase</button></span>
  </div>
<router-outlet></router-outlet>
