<style>
  @import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
</style> 
<head>
    <h1>Home Page</h1>
</head>
<h1>Checkout</h1>
<h2>Hello {{ checkname[0].username }}, You have ${{checkname[0].funds}}!</h2>
<br/> <br/> <br/>
<table>

    <th colspan="3">Items in Cart</th>
    <th colspan="2">Amount of Items</th>

  <tr *ngFor= "let element of ticket$">
    <td><img src="../assets/images/{{ element.artist }}.jpg" alt="Concert Logo" style="width:150px; height:100px"/>
      <br/><br/>
       {{ element.artist }}</td>

      <td> {{ element.venue }} </td>
      <td>{{ element.date }}</td>

      <td>Tickets In Cart: <input type= number matInput placeholder="{{element.quantity}}"> <br/> Price for each: {{ element.price }}
</td>
  </tr>
  </table>
  <div id="button2">
    <span><button mat-button routerLink="/confirmation">Confirm Purchase</button></span>
  </div>
<router-outlet></router-outlet>
