<head>
  <h1>Concerts Page</h1>
</head>

<body>
  <h1>Concerts</h1>
  <div>
    <mat-grid-list cols="2" rowHeight="300px" gutterSize="25px">
      <mat-grid-tile>
        <mat-grid-tile-header>
          <h1 id="head">Concert 1</h1>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
          <span>Price: </span><pre>  </pre>
          <span>Amount:</span>
          <input size="1" matInput placeholder="#"><pre> </pre>
          <span><button mat-button>Add to Cart</button></span><pre> </pre>
          <span><button mat-button>Details</button></span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <h1 id="head">Concert 2</h1>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
          <span>Price: </span><pre>  </pre>
          <span>Amount:</span>
          <input size="1" matInput placeholder="#"><pre> </pre>
          <span><button mat-button>Add to Cart</button></span><pre> </pre>
          <span><button mat-button>Details</button></span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <h1 id="head">Concert 3</h1>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
            <span>Price: </span><pre>  </pre>
            <span>Amount:</span>
            <input size="1" matInput placeholder="#"><pre> </pre>
            <span><button mat-button>Add to Cart</button></span><pre> </pre>
            <span><button mat-button>Details</button></span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <h1 id="head">Concert 4</h1>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
          <span>Price: </span><pre>  </pre>
          <span>Amount:</span>
          <input size="1" matInput placeholder="#"><pre> </pre>
          <span><button mat-button>Add to Cart</button></span><pre> </pre>
          <span><button mat-button>Details</button></span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <h1 id="head">Concert 5</h1>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
          <span>Price: </span><pre>  </pre>
          <span>Amount:</span>
          <input size="1" matInput placeholder="#"><pre> </pre>
          <span><button mat-button>Add to Cart</button></span><pre> </pre>
          <span><button mat-button>Details</button></span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <h1 id="head">Concert 6</h1>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
          <span>Price: </span><pre>  </pre>
          <span>Amount:</span>
          <input size="1" matInput placeholder="#"><pre> </pre>
          <span><button mat-button>Add to Cart</button></span><pre> </pre>
          <span><button mat-button>Details</button></span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <h1 id="head">Concert 7</h1>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
          <span>Price: </span><pre>  </pre>
          <span>Amount:</span>
          <input size="1" matInput placeholder="#"><pre> </pre>
          <span><button mat-button>Add to Cart</button></span><pre> </pre>
          <span><button mat-button>Details</button></span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <h1 id="head">Concert 8</h1>
        </mat-grid-tile-header>
        <mat-grid-tile-footer>
          <span>Price: </span><pre>  </pre>
          <span>Amount:</span>
          <input size="1" matInput placeholder="#"><pre> </pre>
          <span><button mat-button>Add to Cart</button></span><pre> </pre>
          <span><button mat-button>Details</button></span>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</body>
